* {
    font-size: 36px;
    color: white;
}

body {
    background-image: url("../images/plain\ blackboard.jpg"); 
    background-size: cover;
}

#container {
    display: flex;
    flex-flow: column;
}

#row2, .question-area {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

h1 {
    font-size: 125%;
    display: block;
    text-align: center;
    padding: 15px;
    margin: 36px;
    margin-top: 6px;
}

h2 {
    font-size: 69%;
}

.scores {
    flex: 1;
}

/* #high-score {
    display: none;
} */

#hourglass {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-left: 25px;
}

#timer {
    color: red-pink;
}

#row3 {
    border: 3px solid white;
    border-radius: 25px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 300px;
    width: 963px;
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3, #question-section {
    display: flex;
    flex-direction: column;
    flex: 100%;
    align-items: center;
}

.question-area {
    display: flex;
    justify-self: center;
}

#button {
    border: 1px solid white;
    background-color: #7e3446;
    border-radius: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 6px;
    width: 100px;
    /* display: flex; */
}

.scores:hover + #high-score{
    display: flex;
    flex: 1;
}