* {
    font-size: 36px;
    color: white;
}

body {
    background-image: url("../images/plain\ blackboard.jpg"); 
    background-size: cover;
}

#row2 #row3 {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

h1 {
    font-size: 136%;
    display: block;
    text-align: center;
}

#scores {
    font-size: 69%;
    flex: 1;
}

#hourglass {
    width: 100px;
    height: 100px;
    flex: 1;
}

#button {
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 6px;
    width: 100px;
    display: block;
    text-align: center;
}